<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="smsProvider" value="X" />
	</appSettings>
	<connectionStrings>
		<add name="mssqlConnection" connectionString="server=.;database=FactoryTest;TrustServerCertificate=True;trusted_connection=true;"/>
	</connectionStrings>
</configuration>
